{
	"printWidth": 100,
	"tabWidth": 2,
	"useModuleLabel": true,
	"autoGroupImports": "module",
	"plugins": ["@mysten/prettier-plugin-move"],
	"overrides": [
		{
			"files": "**/*.move",
			"options": {
				"tabWidth": 4
			}
		}
	]
}
